html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#sketch-container-1,
#sketch-container-2,
#sketch-container-3 {
}

.sketch-container {
  margin: 5px;
}
.flex-row {
  display: flex;
}

.small-items-container {
  display: flex;
  flex-direction: column; /* Stack small items vertically */
  flex: 1; /* Take up remaining space in the row */
}

.large-item {
  width: 600px;
  height: 600px;
  background-color: lightblue;
}

.small-item {
  width: 600px;
  height: 190px;
  overflow: hidden;
  background-color: lightgreen;
}
