html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Top margin for the container */
}

#sketch-container-1,
#sketch-container-2 {
  border: solid thin green;
  margin: 10px; /* Add some margin between the canvas containers */
}
